* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {                                /* set background color of the page */                  
    background-color: #d9dcd6;
}

.headlines {                         /* set a base font and color for headlines in the header area */       
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {                         /* reset default styles */
    display: inline-block;
    font-size: 48px;
}

.seo {                               /* set color for "seo" part of the "Horiseon" */
    color: #d9dcd6;
}

.links {                                 /* style navigation links(internal links) */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.coverimage { 
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
}

.content {                   /* positioning for contents */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {                       
    margin-right: 20px; 
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {      /* merged classes sharing common styles  */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {          /* merged classes sharing common styles  */       
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {             /* merged classes sharing common styles  */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.division {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.division img {
    max-height: 200px;
}

.division h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {                         /* style the footer */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
